body {
    background-color: #B7F2FF;
    font-family:Geneva
  }

  footer {
    text-align: center;
  }
  
  h1, h2, h3 {
    color: #0055A4;
    text-align: center;
  }
  
  p {
    font-size: 20px;
    color:#0085FF;
  }

  a {
    text-align: center;
    color: #393939;
  }

  nav{
    text-align: center;
  }

  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  figcaption {
    font-style: italic;
    text-align: center;
  }

  .cover {
    text-align: center;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .employee {
    text-align: center;
  }

  table {
    text-align: center;
    border-color: antiquewhite;
  }

  th {
    background-color: #002447;
    color: antiquewhite;
  }

  table tr:nth-child(even) {
    background-color: #0055A4;
    color: antiquewhite;
  } 

  table tr:nth-child(odd) {
    background-color: #006cd4;
    color: antiquewhite;
  }

  button {
    background-color: #002447;
    color: antiquewhite;
    border-color: antiquewhite;
  }

  fieldset {
    background-color: #002447;
    color: antiquewhite;
    border-bottom: 4px solid antiquewhite;
    border-top: none;
    border-right: 4px solid antiquewhite;
    border-left: none;
  }