/* */

body {
  background-color: #f0dcca;
  font-family:Geneva
}

header {
  background-color: #2a324b;
}

footer {
  text-align: center;
  background-color: #2a324b;
}
  
h1, h2, h3 {
  color: #6f9283;
  text-align: center;
}

h5 {
  color: #8d9f87;
  text-align: center;
}
  
p {
  font-size: 20px;
  color: #8d9f87;
}

a {
  text-align: center;
  color: #9e768f;
}

nav{
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.employees {
  text-align: center;
}

table {
  text-align: center;
  border-color: antiquewhite;
}

th {
  background-color: #2a324b;
  color: antiquewhite;
}

table tr:nth-child(even) {
  background-color: #6f9283;
  color: antiquewhite;
} 

table tr:nth-child(odd) {
  background-color: #8d9f87;
  color: antiquewhite;
}

button {
  background-color: #2a324b;
  color: antiquewhite;
  border-color: antiquewhite;
}

fieldset {
  background-color: #2a324b;
  color: antiquewhite;
  border-bottom: 4px solid antiquewhite;
  border-top: none;
  border-right: 4px solid antiquewhite;
  border-left: none;
}