body {
    background-color: #B7F2FF;
    font-family:Geneva
  }
  
  h1, h2 {
    color: #0055A4;
    text-align: center;
  }
  
  p {
    font-size: 20px;
    color:#0085FF

  }

  a {
    text-align: center;
    color: #393939;
  }

  nav{
    text-align: center;
  }

  footer {
    text-align: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  figcaption {
    font-style: italic;
    text-align: center;
  }

  img {
    height: 400px;
  }

  .cover {
    text-align: center;
  }