<header>
    <h1>Monticello Methodist Crochet Group</h1>
    <nav>
        <a href="./" class="origin-link">Home</a>
        
        <a href="monticello.html" class="origin-link">How did Monticello get Involved?</a>
        
        <a href="prayer_shawl.html" class="origin-link">What is a Prayer Shawl?</a>
        
        <a href="types.html" class="origin-link">Types of Prayer Shawls</a>
        
        <a href="basics.html" class="origin-link">Basics of Crochet</a>
        
        <a href="get_involved.html" class="origin-link">Get Involved!</a>
    </nav>
</header>